* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 20px;
    background: none;
    padding-bottom: 20px;
    border-bottom: 1px gainsboro solid;
}

body {
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
 }
 
article {
    background-color: white;
}

.bloque {
    display: flex;
}

.juguete {
    display: flex;
    height: auto;
    flex-direction: column;
    background-color: white;
    padding: 15px;   
}

img {
    margin-bottom: 10px;
}

.precio {
    color:crimson;
    font-size: 1.2rem;
    font-weight: 500;
}

label {
    color: black;
    font-weight: 700;
}

input {
    border: 1px solid gainsboro;
    border-radius: 1rem;
    background: none;
    height: 2.2rem;
    padding: 0 10px;
    margin-top: 35px;
}

::placeholder {
    font-size: .8rem;
}

span {
    font-weight: 700;
    color: rgb(25, 158, 114);
    font-size: 1.2rem;
}

.resultado {
    color: black;
    border-bottom: 1px solid black;
    min-height: 2rem;
}

.resulTitle {
    margin-top: 60px;
}

p {
    font-weight: 700;
}

.box-result{
    flex-direction: column;
    justify-content: end;
}

button {
    font-weight: 700;
    margin-bottom: 5px;
    border-radius: 2rem;
    height: 2.2rem;
    background-color: rgb(25, 158, 114);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: aquamarine;
    color: black;
}