* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #101935;
    width: 100%;
}

main {
    min-width: 100%;
    min-height: 100vh;
    text-align: center;

}

h1 {
    padding-top: 30px;
    margin-bottom: 30px;
    color: #E7E7E7;
    font-weight: 700;
}

span{
    color: #F24C00;
}

.menu {
    justify-content: center;  
}

.sesion {
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: #E7E7E7;
    border-radius: 5px;  
}

h2 {
    margin-bottom: 15px;
    color: #101935;
    font-weight: 700;
}

input {
    height: 45px;
    margin-bottom: 5px;
    font-size: 1rem;
    background-color: #101935;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 2.5px;
}

input:hover {
    background-color: #FC7A1E;
    color: #fff;
}