* {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: #3521B5;
}


article {
    box-shadow: 5px 5px 10px #211379;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: white;
}

.header {
    flex-direction: column;
}

h3 {
    font-size: 1.2rem;
    margin-top: 40px;
    font-weight: 500;
}

small {
    color: rgb(243, 30, 73);
    width: 300px;
    margin-bottom: 20px;
    font-size: .7rem;

}

form {
    flex-direction: column;
    justify-content: center;

}

p {
    font-size: .8rem;
    color: gray;
    margin-bottom: 30px;
}

label {
    font-size: .9rem;
    font-weight: 500;
}

span {
    color: #3521B5;
    font-weight: 700;
    font-size: .8rem;
}

input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid gainsboro;
    padding-left: 15px;
}

input:focus {
    padding-left: 15px;
    outline: none;
    border: 1px solid gainsboro;
}

picture {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloque{
    display: flex;
    flex-direction: column;
}

.enviar {
    width: 100%;
    border-radius: 50px;
    border: none;
    background-color: #3521B5;
    color: white;
    height: 40px;
}

.enviar:hover {
    background-color: #211379;
}

::placeholder {
    font-size: .8rem;
    color: gray;
}

/* input:invalid {
    border: 2px solid rgb(243, 81, 81);
  }

input:invalid:focus {
    background-color: pink;
  } */