* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    text-align: center;
    margin-top: 20px;
}

header span {
    color: lightseagreen;
}

/* Main */

main {
    margin: 10px 20px;
}

main article li {
    list-style-position: inside;
}

main article ul {
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

p {
    margin: 10px 0 20px 0;
    color:lightseagreen;
}

.conjunto {
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    height: 2rem;
    max-width: 150px;
    padding: 0 10px;
    align-self: center;
}

#email {
    max-width: 210px;
}

button {
    background-color: lightseagreen;
    color: white;
    width: 6rem;
    height: 2rem;
    margin: 0 0 20px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.resultado {
    display: flex;
    align-items: center;
    color: black;
    margin: 10px 0 20px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 5px;
    min-height: 2rem;
    height: fit-content;
    min-width: 200px;
    width: fit-content;
}